@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap%22");

body {
  background: #faf5d8;
  font-family: "Montserrat", sans-serif;
  /* color: #ffffff; */
  font-size: 18px;
  transition: 250ms background;
  margin: 0;
  margin-right: 30px;
}

#dashboard > div {
  padding: 5px 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  height: 140vh;
}



/* START SIDEBAR */

.sidebar {
  background-color: #d8d1b0;
  grid-row-start: 1;
  grid-row-end: 31;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 250ms background;
}

.upperIcon{
  width: 100%;
}

.lowerIcons{
  width: 100%;
  margin-bottom: 0.5em;
}

.profiel {
  max-height: 4em;
  flex: 1;
  margin-top: 0.5em;
}

div.instellingen {
  height: 2em;
  transition: 0.65s transform, 0.25s fill;
  margin-bottom: 1em;
  background-color:#2d2d2d;
  -webkit-mask: url(../images/settings.svg) no-repeat center / contain;
}

div.instellingen:hover {
  transform: rotate(120deg);
}

.logout {
  height: 2.8em;
  background-color:#2d2d2d;
  -webkit-mask: url(../images/logout.svg) no-repeat center / contain;
}

/* EIND SIDEBAR */



/* START BUITEN TEMPERATUUR */


.buitenTemp {
  background-color: #d8d1b0;
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 6;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND BUITEN TEMPERATUUR */



/* START BINNEN TEMPERATUUR */

.binnenTemp {
  background-color: #d8d1b0;
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 6;
  grid-column-end: 10;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND BINNEN TEMPERATUUR */



/* START TIJD */

.tijd {
  background-color: #d8d1b0;
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 10;
  grid-column-end: 14;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND TIJD */



/* START PHILIPS HUE SLIDER */

.slider {
  background-color: #d8d1b0;
  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 2;
  grid-column-end: 8;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND PHILIPS HUE SLIDER */



/* START VAK 6 */

.six {
  background-color: #d8d1b0;
  grid-row-start: 8;
  grid-row-end: 17;
  grid-column-start: 8;
  grid-column-end: 14;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND VAK 6 */



/* START LUCHTKWALITEIT */

.kwaliteit {
  background-color: #d8d1b0;
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 2;
  grid-column-end: 5;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND LUCHTKWALITEIT */



/* START SPOTIFY */

.spotify {
  background-color: #d8d1b0;
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 5;
  grid-column-end: 8;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND SPOTIFY */



/* START GRAFIEK */


.grafiek {
  background-color: #d8d1b0;
  grid-row-start: 17;
  grid-row-end: 29;
  grid-column-start: 2;
  grid-column-end: 14;
  border-radius: 0.4em;
  transition: 250ms background;
}

/* EIND GRAFIEK */



/* START COPYRIGHT */

.copyright {
  /* background-color: yellow; */
  grid-row-start: 28;
  grid-row-end: 31;
  grid-column-start: 2;
  grid-column-end: 14;
  border-radius: 0.4em;
  /* margin-top: 1.5em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyrightText{
  /* margin: 0px; */
  font-size: 0.8em;
  color: #2d2d2d;
  transition: 250ms color;
}

.copyrightText span {
  color: #17c9b7;
}
/* EIND COPYRIGHT */


.header{
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 14;
  border-radius: 0.4em;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
  /* background-color: red; */
  margin-top: 1.5em;
}


.logo {
  display: inline-flex;
  height: 2.5em;
  background-color:#2d2d2d;
  -webkit-mask: url(../images/EcosyLogo.svg) no-repeat left / contain;
  width: 20em;
}

.toggle-btn
{
  position: relative;
  width: 72.5px;
  height: 37px;
  margin: 0px;
  border-radius: 2.5em;
}

input[type="checkbox"]
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #2d2d2d;
  border-radius: 20px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after
{
  content: '';
  position: absolute;
  top: 4px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before
{
  background-color: #2d2d2d;
  transform: translate(-29px,0px);
  z-index: 1;
}

#_1st-toggle-btn span:after
{
  background-color:#faf5d8;
  transform: translate(4px,0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span
{
  background-color: #252529;
}

#_1st-toggle-btn input[type="checkbox"]:active + span
{
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before
{
  background-color: #252529;
  transform: translate(28px,-9.5px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after
{
  background-color: #17c9b7;
  transform: translate(39.5px,0px);
}

/* First toggle btn completed */

/* DARKMODE STYLE ------------------------------------------------ */
body.darkmode {
  background: #1c1c1f;
  color: white;
}

body.darkmode .item:not(.copyright, .header){
  background: #252529;
}

body.darkmode .copyrightText {
  color: #646278;
  font-weight: 700;
}

body.darkmode .instellingen {
  background-color:#fff;
  -webkit-mask: url(../images/settings.svg) no-repeat center / contain;
}

body.darkmode .logout {
  background-color:#fff;
  -webkit-mask: url(../images/logout.svg) no-repeat center / contain;
}

body.darkmode .logo {
  background-color:#17c9b7;
  -webkit-mask: url(../images/EcosyLogo.svg) no-repeat left / contain;
}


/*
   ?zorgen dat wanneer je inlogt dat je direct naar de darkmode version gaat
   ?Darkmode knop moet gefixt zijn */