/* *FONT * ----------------------------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap%22");

/* *BODY * ----------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: #1c1c1f;
  transition: 250ms background-color, 250ms color;
}

.lightmode {
  transition: all 250ms ease-in;
}

/* *GRIDBOX * -------------------------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

/* *HEADER * ---------------------------------------------------------------------*/
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #252529;
  transition: 250ms background-color, 250ms color;
}

.main-header__heading {
  font-size: 25px;
}

/* *SEARCH BAR * -----------------------------------------------------------------*/
.header > form {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-height: 26px;
  display: inline-block;
  padding-left: 45px;
  position: relative;
}

.header > form input[type="search"] {
  appearance: none;
  background-color: #1b1b1b;
  border: none;
  border-radius: 13px;
  display: inline-block;
  width: 26px;
  padding: 0;
  outline: none;
  color: white;
  font-size: 14px;
  transition: 0.4s;
  line-height: 26px;
  font-weight: bold;
  transition: 450ms;
}

.header > form:hover input[type="search"] {
  width: 200px;
  padding: 0 15px;
}

.header > form button {
  position: absolute;
  right: 0;
  height: 26px;
  width: 26px;
  background-color: #1b1b1b;
  border-radius: 50%;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
}

.header > form button i {
  color: #fff;
  padding-right: 2px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* *DARK & LIGHTMODE KNOP * -------------------------------------------------------*/
.toggle-btn {
  position: relative;
  width: 55px;
  height: 26px;
  margin: 0px;
  border-radius: 2.5em;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#_1st-toggle-btn span {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #2d2d2d;
  border-radius: 20px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #2d2d2d;
  transform: translate(-17px, 0px) translateZ(0);
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: #fff;
  transform: translate(4px, 0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: #1b1b1b;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: #1b1b1b;
  transform: translate(24px, -4.5px) translateZ(0);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: #17c9b7;
  transform: translate(31px, 0px);
}

/* *MENU ICON VOOR TELEFOON IN DE SIDEBAR  * -----------------------------------------*/
.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  width: 40px;
  box-sizing: border-box;
}

/* *SIDE NAV  * -----------------------------------------------------------------------*/
.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: 250ms background-color, 250ms color, 600ms transform;
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #1b1b1b;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.logo {
  width: 8em;
  margin-top: 20px;
  margin-left: 40px;
  vertical-align: text-bottom;
}

.sidenav__list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.sidenav__list-item {
  color: #ddd;
}

.sidenav__list-item a {
  text-decoration: none;
  color: white;
  padding: 20px 20px 20px 40px;
  display: block;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidenav__list-item .fas {
  margin-right: 10px;
}

/* *ITEMS IN DE GIRDBOX  * -------------------------------------------------------------*/
.main {
  grid-area: main;
  background-color: #1c1c1f;
  transition: 250ms background-color, 250ms color;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #252529;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #252529;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.tijdcard {
  justify-content: space-between;
  padding: 13px;
  background-color: #252529;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.weercard {
  justify-content: space-between;
  padding: 13px;
  background-color: #252529;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
  border-radius: 0.4em;
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  background-color: #252529;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #252529;
  color: #646278;
  font-weight: 700;
  transition: 250ms background-color, 250ms color;
  /* margin-top: -9px; */
}

/* *LIGHTMODE * ------------------------------------------------------------------------*/
body.lightmode .header {
  background-color: #efefef;
}

body.lightmode .header > form input[type="search"] {
  background-color: #fff;
  color: #1b1b1d;
}

body.lightmode .header > form button {
  background-color: #fff;
}

body.lightmode .header > form button i {
  color: #1b1b1b;
}

body.lightmode .menu-icon {
  background-color: #fff;
  color: #1b1b1b;
}

body.lightmode .sidenav {
  background-color: #e2e1e1;
}

body.lightmode .fa-times {
  color: #1b1b1b;
}

body.lightmode .sidenav__list-item a {
  color: #1c1c1f;
}

body.lightmode .main {
  background-color: white;
  color: #1b1b1b;
}

body.lightmode .main-header {
  background-color: #efefef;
}

body.lightmode .overviewcard {
  background-color: #efefef;
}

body.lightmode .tijdcard {
  background-color: #efefef;
}

body.lightmode .weercard {
  background-color: #efefef;
}

body.lightmode .txtb {
  border-bottom: 2px solid #1b1b1b;
  color: #1b1b1b;
}

body.lightmode .card {
  background-color: #efefef;
}

body.lightmode .footer {
  background-color: white;
}

body.lightmode .footer__copyright {
  color: #1b1b1d;
}


.container{
  max-width: 800px;
}

.txtb{
  width: 97%;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h3{
  margin: 10px 0;
}

.task{
  width: 85%;
  background: rgba(255,255,255,0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i{
  float: right;
  margin-left: 20px;
  cursor: pointer;
}

.comp .task{
  background: rgba(0,0,0,0.8);
  color: #fff;
}

::-moz-selection { /* Code for Firefox */
  background: #53c7bb;
}

::selection {
  background: #53c7bb;
}

/* Scroll bar (Werkt nog niet op firefox) */
::-webkit-scrollbar{
  background-color: none;
  width: 6px;
}

::-webkit-scrollbar-track{
  border-radius: 5px;
  box-shadow: insert 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #129b8d;
}

::-webkit-scrollbar-thumb:hover{
  border-radius: 5px;
  background-color: #17c9b7;
}

/* *MEDIA QUERIES TELEFOON * ------------------------------------------------------------------------*/
@media only screen and (min-width: 46.875em) {
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

.tijd {
  text-align: center;
}

.weatherbox {
  text-align: center;
}

.city {
  font-size: 16px;
}

.temperature {
  font-size: 24px;
}

.weatherdescription {
  font-size: 16px;
}

#dagmaandjaar {
  font-size: 16px;
}

#display {
  font-size: 24px;
}

#places {
  font-size: 16px;
}

tg {
	background: none;
	color: yellow;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* *MEDIA QUERIES IPAD * ---------------------------------------------------------------------------*/
@media only screen and (min-width: 65.625em) {
  .main-cards {
    column-count: 2;
  }

}





@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap%22");

body {
  background-color: #1c1c1f;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.temp {
  font-size: 0.5rem;
  fill: #fff;
}
#eenheid {
  font-size: 0.3rem;
}

.slider {
    -webkit-appearance: none;
    width: 110px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #17C9B7;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #17C9B7;
    cursor: pointer;
  }