@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

body {
  background: #1c1c1f;
  font-family: "Roboto Mono", sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  margin-right: 30px;
}

#dashboard > div {
  background-color: #252529;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  height: 140vh;
}



/* START SIDEBAR */

.sidebar {
  grid-row-start: 1;
  grid-row-end: 31;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  display:flex;
  flex-direction: column;
}

.profiel {
  max-height: 4em;
  flex: 1;
}

img.instellingen {
  height: 2em;
  transition: 0.65s transform, 0.25s fill;
}

img.instellingen:hover {
  transform: rotate(120deg);
}

.logout {
  height: 2.8em;
}

/* EIND SIDEBAR */



/* START BUITEN TEMPERATUUR */


.buitenTemp {
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 6;
  border-radius: 0.4em;
}

/* EIND BUITEN TEMPERATUUR */



/* START BINNEN TEMPERATUUR */

.binnenTemp {
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 6;
  grid-column-end: 10;
  border-radius: 0.4em;
}

/* EIND BINNEN TEMPERATUUR */



/* START TIJD */

.tijd {
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 10;
  grid-column-end: 14;
  border-radius: 0.4em;
}

/* EIND TIJD */



/* START PHILIPS HUE SLIDER */

.slider {
  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start: 2;
  grid-column-end: 8;
  border-radius: 0.4em;
}

/* EIND PHILIPS HUE SLIDER */



/* START VAK 6 */

.six {
  grid-row-start: 8;
  grid-row-end: 17;
  grid-column-start: 8;
  grid-column-end: 14;
  border-radius: 0.4em;
}

/* EIND VAK 6 */



/* START LUCHTKWALITEIT */

.kwaliteit {
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 2;
  grid-column-end: 5;
  border-radius: 0.4em;
}

/* EIND LUCHTKWALITEIT */



/* START SPOTIFY */

.spotify {
  grid-row-start: 13;
  grid-row-end: 17;
  grid-column-start: 5;
  grid-column-end: 8;
  border-radius: 0.4em;
}

/* EIND SPOTIFY */



/* START GRAFIEK */


.grafiek {
  grid-row-start: 17;
  grid-row-end: 29;
  grid-column-start: 2;
  grid-column-end: 14;
  border-radius: 0.4em;
}

/* EIND GRAFIEK */



/* START COPYRIGHT */

.copyright {
  grid-row-start: 29;
  grid-row-end: 31;
  grid-column-start: 2;
  grid-column-end: 14;
  border-radius: 0.4em;
}

.copyrightText{
  margin: 0px;
}

/* EIND COPYRIGHT */




.header{
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 14;
  border-radius: 0.4em;
}


.logo {
  height: 2.5em;
}




.toggle-btn
{
  position: relative;
  width: 145px;
  height: 74px;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"]
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #17c9b7;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after
{
  content: '';
  position: absolute;
  top: 8px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before
{
  background-color: #17c9b7;
  transform: translate(-58px,0px);
  z-index: 1;
}

#_1st-toggle-btn span:after
{
  background-color:#fff;
  transform: translate(8px,0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span
{
  background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span
{
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before
{
  background-color: #000;
  transform: translate(56px,-19px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after
{
  background-color: #17c9b7;
  transform: translate(79px,0px);
}

/* First toggle btn completed */