@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap%22");

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: #1c1c1f;
  transition: 250ms background-color, 250ms color;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  width: 40px;
    box-sizing: border-box;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #252529;
  transition: 250ms background-color, 250ms color;
}

.header__search {
  background: #1b1b1b;
  border-radius: 40px;
  margin-left: 42px;
 }

 .header__search:hover > .header__input {
  width: 200px;
  padding: 0 6px;
 }
 
 .header__search:hover > .buscar-btn {
  background: #1b1b1d;
  color: black;
 }

.header__input {
  /* display: inline-block; */
  margin-left: 4px;
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 14px;
  transition: 0.4s;
  line-height: 26px;
  width: 0px;
  font-weight: bold;
 }

 .header__input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.header__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

.header__input::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}

.buscar-btn {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #1b1b1b;
  display: flex;
  transition: 0.4s;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .buscar-btn > i {
  font-size: 15px;
 }

/* Make room for the menu icon on mobile */

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #1b1b1d;
}

.lightmode {
  transition: all 250ms ease-in;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.logo {
  width: 8em;
  margin-top: 20px;
  margin-left: 40px;
  vertical-align: text-bottom;
}

.sidenav__list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

.sidenav__list-item {
  color: #ddd;
}

.sidenav__list-item a {
  text-decoration: none;
  color: white;
  padding: 20px 20px 20px 40px;
  display: block;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidenav__list-item .fas {
  margin-right: 10px;
}

.main {
  grid-area: main;
  background-color: #1c1c1f;
  transition: 250ms background-color, 250ms color;
}


.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #252529;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #252529;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
  border-radius: 0.4em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #252529;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 0.4em;
  transition: 250ms background-color, 250ms color;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #1c1c1f;
  color: #646278;
  font-weight: 700;
  transition: 250ms background-color, 250ms color;
  margin-top: -9px;
}

.toggle-btn
{
  position: relative;
  width: 55px;
  height: 26px;
  margin: 0px;
  border-radius: 2.5em;
}

input[type="checkbox"]
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #2d2d2d;
  border-radius: 20px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after
{
  content: '';
  position: absolute;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before
{
  background-color: #2d2d2d;
  transform: translate(-32px,0px);
  z-index: 1;
}

#_1st-toggle-btn span:after
{
  background-color:#fff;
  transform: translate(4px,0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span
{
  background-color: #1b1b1b;
}

#_1st-toggle-btn input[type="checkbox"]:active + span
{
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before
{
  background-color: #1b1b1b;
  transform: translate(24px,-4.5px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after
{
  background-color: #17c9b7;
  transform: translate(31px,0px);
}

/* First toggle btn completed */

body.lightmode .header {
  background-color: #efefef;
}

body.lightmode .sidenav {
  background-color: #e2e1e1;
}

body.lightmode .fa-times {
color: #1b1b1b;
}

body.lightmode .sidenav__list-item a {
  color: #1c1c1f;
}

body.lightmode .main  {
  background-color: white;
  color: #1b1b1d;
}

body.lightmode .main-header {
  background-color: #efefef;
}

body.lightmode .overviewcard {
  background-color: #efefef;
}

body.lightmode .card {
  background-color: #efefef;
}

body.lightmode .footer {
  background-color: white;
}

body.lightmode .footer__copyright {
  color: #1b1b1d;
}

body.lightmode .menu-icon {
  background-color: #e2e1e1;
}

body.lightmode .header__search {
background-color: #2d2d2d;
}

body.lightmode .header__search:hover > .buscar-btn {
  background-color: #2d2d2d;
}

body.lightmode .buscar-btn {
  background-color: #2d2d2d;
}


/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
} 